html,body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  
}

body {
  background-color:#767676;
}
#logo {
  width: 30%;
  height: auto;
  margin-bottom: 2%;
}

header {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 7%;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
}

.pfp {
  height: 100px;
  width: 100px;
  min-width: 100px;
  border-radius: 50%;
}

a {
  color: White;
  width: auto;
  height: 10px;
  margin-top: 0;
}

a:hover {
  color: Grey
}

.profile-card {
  width: 240px;
  height: 265px;
  margin: 0%;
  padding: 0%;
  color: white;
  background-color: Black;

  border-radius: 1rem;
  margin-bottom: 2rem;
  padding-top: 1%;
  padding-bottom: 1%;
  box-shadow: 0px, 2px, 8px, 0px;
  position: relative;
  display: grid;
  place-items: center;
  text-align: center;
}

.name {
  font-size: 1em;
  margin-top: 1%;
}
.wrapper-body {
  background-color: white;
  border-radius: 50px;
  padding: 2% 10%;
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
  box-sizing: border-box;
}

#intro {
  padding: 5% 0;
}

.header {
  margin-bottom: 5%;
  font-size: 1.6em;
}
.row {
  margin: 0%;
}

.icon-row {
  padding-bottom: 5%;
  margin-bottom: 1%;
}

.icon {
  display:grid;
  justify-content: center;
  margin-right: 0.4em;
}

.role {
  padding-top: 0.2em;
}
.name {
  padding-top: 0.2em;
  padding-bottom: 0.3em;
}

.wrapper-flex {
  box-sizing: border-box;
  display: flex;
  width: inherit;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2em;
}

#contain {
    box-sizing: border-box;
}


#card {
  margin-right: 2.5em;
}

.divider
{
	position: relative;
	margin-top: 90px;
	height: 1px;
  margin-bottom: 90px;
}

.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}

.div-dot:after
{
	content: "";
	position: absolute;
	z-index: 1;
	top: -9px;
	left: calc(50% - 9px);
	width: 18px;
	height: 18px;
	background-color: Grey;
	border: 1px solid rgb(48,49,51);
	border-radius: 50%;
	box-shadow: inset 0 0 0 2px white,
					0 0 0 4px white;
}
