{% extends "index.html"%}
{% block content %}
<div id="contain">

  <h2 class="header">Meet the tech stack!</h2>

  <div class="wrapper-flex">
    {% for i in range(0, stop) %}
    <div class="d-flex justify-content-between">
      <div id="card" class="profile-card col-sm" data-toggle="modal" data-target={{"#" + ls[i]["mid"]}}>

        <span  class="name">{{ ls[i]["name"] }}</span>

        <div class="avatar">
          {% if "photo" not in ls[i] %}
          <img class= "pfp" src= {{ url_for('static', filename='/images/stock.png') }}>
          {% else %}
          <img class= "pfp" src={{ ls[i]["photo"] }}>

          {% endif%}
        </div>

        <div class="role">
          {% if ls[i]["role"] != None %}
            <p>{{ ls[i]["role"] }}</p>
          {% endif%}
        </div>

        <div class="icon-row">
          {% if ls[i]["git"] != None %}
            <a href={{ ls[i]["git"] }} target="_blank"><i class="fa fa-github icon"></i></a>
          {% endif%}

          <a href={{ ls[i]["linked"] }}" target="_blank"><i class="fa fa-linkedin icon"></i></a>

          {% if ls[i]["web"] != None %}
            <a href="{{ ls[i]["web"] }}" target="_blank"><i class="fa fa-link icon"></i></a>
          {% endif%}

        </div>

      </div>

      <div class="modal" id={{ls[i]["mid"]}}>
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title">{{ls[i]["name"]}}</h2>
            </div>
            <div class="modal-body">
              <p>{{ls[i]["intro"]}}</p>
            </div>
            <div class="modal-footer">
              <p>{{ls[i]["lang"]}}</p>
            </div>
          </div>
        </div>
      </div>

    </div>

    {% endfor %}
  </div>

</div>
{% endblock %}
